@import "variables",
        "mixins";

.finder-file-container {
  height: 95.25%;
  width: 100%;
  color: $finder-text-font-color;
  display: flex;
  flex-direction: row;
}

// finder sections

.finder-section {
  height: 100%;
  width: 30%;
  height: inherit;
  padding: 2px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.finder-section:last-child {
  width: 40%;
  border-right: none;
  padding: 10px;
}

.finder-section-border {
  border-right: 1px solid $mac-titlebar-color-border;
}

// finder folders

.finder-directory-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.5px 5px;
  cursor: pointer;

  &:hover {
    background-color: $mac-highlight-color-dark;
  }
}

.finder-folder-icon {
  width: 20px;
  margin-right: 5px;
}

// finder items

.finder-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.5px 5px;
  cursor: pointer;

  &:hover {
    background-color: $mac-highlight-color-dark;
  }
}

.finder-item-icon {
  width: 16px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.finder-selected-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finder-selected-item-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.finder-selected-text {
  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .date {
    font-style: italic;
    margin-bottom: 10px;
  }
}

// finder selected items

.selected-item-image {
  width: 100%;
  margin-bottom: 10px;
}

.selected-file {
  width: 60%;
}

a.finder-link {
  color: darken($mac-highlight-color-dark, 25%);
  transition: all 0.15s ease;
}

a.finder-link:hover {
  color: $mac-highlight-color-dark;
}

// mobile finder styles

@media screen and (max-width: 650px) {
  .finder-section {
    width: 50%;
  }

  .finder-section:last-child {
    display: none;
  }

  .finder-selected-item {
    display: none;
  }
}
