@import "variables",
        "mixins";

html, body {
  width: 100vw;
  overflow-x: hidden;
  color: $general-font-color;
}

p {
  @include primary-font;
  @include unselectable;
}

.hide {
  display: none;
}
