@import "variables",
        "mixins";

html, body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: $general-font-color;
  position: fixed;
}

h1, h2, h3, h4, h5, h6, p {
  @include primary-font;
  @include unselectable;
}

@media screen and (max-width: 1024px) {
  h1, h2, h3, h4, h5, h6, p {
    @include primary-font;
    @include unselectable;
    font-size: 10px;
  }
}

hr {
  visibility: hidden;
  height: 2px;
}

.hide {
  display: none;
}

.highlight {
  background-color: $mac-highlight-color-dark;
}

.disabled-text {
  color: darken($mac-gray, 10%);
}

.bottom-layer {
  z-index: 1;
}

.top-layer {
  z-index: 99;
}

.pc {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
