@import "variables",
        "mixins";

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 92vw;
  background-color: $mac-highlight-color;
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  border-radius: 5px 5px 0 0;
}

.taskbar-icon-container {
  height: 50px;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover .taskbar-icon-label {
    visibility: visible;
  }

  &:hover .label-triangle {
    visibility: visible;
  }

  &:hover .taskbar-icon {
    transform: scale(1.25);
  }
}

.taskbar-icon {
  @include short-transition;
  width: 42px;

  &:active {
    filter: brightness(50%);
  }
}

.taskbar-icon-label {
  margin-top: -34px;
  visibility: hidden;
  width: 110px;
  background-color: $mac-label-color;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 2px 5px;
  color: $mac-label-font-color;
}

.label-triangle {
  margin-top: -24px;
  margin-bottom: 14px;
  border: 5px solid $mac-label-color;
  transform: rotate(45deg);
  visibility: hidden;
}

.finder-icon {
  margin-top: 2px;
}

.sublime-icon, .terminal-icon {
  width: 43px;
  filter: brightness(90%);
}

.terminal-icon {
  margin-top: 1px;
  width: 44px;
}
