@import "variables",
        "mixins";

.user {
  @include short-transition;
  position: fixed;
  top: -95px;
  left: 30px;
  cursor: pointer;

  &:hover {
    top: 0px;
  }
}

.user-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $mac-gray;
  color: $mac-label-font-color;
  padding: 10px 10px;
}

.user-icon-link {
  margin-bottom: 10px;
}

.user-icon-link:last-child {
  margin-bottom: 0px;
}

.user-icon {
  width: 20px;
}

.user-name {
  margin-bottom: 10px;
  font-size: 10px;
}
