@import "variables",
        "mixins";

@import "reset",
        "global",
        "desktop",
        "taskbar",
        "user",
        "window";

.pc {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
