<div class="desktop">
  <div class="desktop-icon-container desktop-education-folder">
    <a class="desktop-icon-link">
      <img class="desktop-icon" src="images/directory.png" /><p>Education</p>
    </a>
  </div>
  <div class="desktop-icon-container desktop-experience-folder">
    <a class="desktop-icon-link">
      <img class="desktop-icon" src="images/directory.png" /><p>Experience</p>
    </a>
  </div>
  <div class="desktop-icon-container desktop-projects-folder">
    <a class="desktop-icon-link">
      <img class="desktop-icon" src="images/directory.png" /><p>Projects</p>
    </a>
  </div>
  <div class="desktop-icon-container desktop-documents-folder">
    <a class="desktop-icon-link">
      <img class="desktop-icon" src="images/directory.png" /><p>Documents</p>
    </a>
  </div>
</div>
