<div class="window finder-window ui-widget-content hide">

  {% include window-nav.html title="Finder" %}

  <div class="finder-file-container content-container">

    <!-- outermost folders -->
    <div class="finder-section finder-outer-directory-list-container finder-section-border">
      <div class="finder-outer-directory-list">
        <div class="finder-directory-container education-folder">
          <div><img class="finder-folder-icon" src="images/directory.png" /></div>
          <div class="finder-directory"><p>Education</p></div>
        </div>
        <div class="finder-directory-container experience-folder">
          <div><img class="finder-folder-icon" src="images/directory.png" /></div>
          <div class="finder-directory"><p>Experience</p></div>
        </div>
        <div class="finder-directory-container projects-folder">
          <div><img class="finder-folder-icon" src="images/directory.png" /></div>
          <div class="finder-directory"><p>Projects</p></div>
        </div>
        <div class="finder-directory-container documents-folder">
          <div><img class="finder-folder-icon" src="images/directory.png" /></div>
          <div class="finder-directory"><p>Documents</p></div>
        </div>
      </div>
    </div>

    <!-- inner items -->
    <div class="finder-section finder-inner-items-list-container">
      <!-- education items -->
      <div class="finder-inner-items-list education-items hide">
        <div class="finder-item-container burton-list-item">
          <div><img class="finder-item-icon image" src="images/burton.jpg" /></div>
          <div class="finder-item"><p>Burton High School.jpg</p></div>
        </div>
        <div class="finder-item-container berkeley-list-item">
          <div><img class="finder-item-icon image" src="images/berkeley.jpg" /></div>
          <div class="finder-item"><p>UC Berkeley.jpg</p></div>
        </div>
        <div class="finder-item-container major-list-item">
          <div><img class="finder-item-icon" src="images/pdf-file.png" /></div>
          <div class="finder-item"><p>Cognitive Science Major.pdf</p></div>
        </div>
      </div>
      <!-- experience items -->
      <div class="finder-inner-items-list experience-items hide">
        <div class="finder-item-container adobe-list-item">
          <div><img class="finder-item-icon image" src="images/adobe.jpg" /></div>
          <div class="finder-item"><p>Adobe.jpg</p></div>
        </div>
        <div class="finder-item-container climate-list-item">
          <div><img class="finder-item-icon image" src="images/climate.jpg" /></div>
          <div class="finder-item"><p>The Climate Corporation.jpg</p></div>
        </div>
        <div class="finder-item-container stowk-list-item">
          <div><img class="finder-item-icon image" src="images/stowk.jpg" /></div>
          <div class="finder-item"><p>Stowk.jpg</p></div>
        </div>
        <div class="finder-item-container registria-list-item">
          <div><img class="finder-item-icon image" src="images/registria.png" /></div>
          <div class="finder-item"><p>Registria.png</p></div>
        </div>
        <div class="finder-item-container decal-list-item">
          <div><img class="finder-item-icon" src="images/pdf-file.png" /></div>
          <div class="finder-item"><p>Web Design DeCal.pdf</p></div>
        </div>
        <div class="finder-item-container aaa-list-item">
          <div><img class="finder-item-icon image" src="images/aaa.jpg" /></div>
          <div class="finder-item"><p>Asian American Association.jpg</p></div>
        </div>
        <div class="finder-item-container ffl-list-item">
          <div><img class="finder-item-icon" src="images/pdf-file.png" /></div>
          <div class="finder-item"><p>Foundation for Letters.pdf</p></div>
        </div>
      </div>
      <!-- project items -->
      <div class="finder-inner-items-list project-items hide">
        <div class="finder-item-container stopbot-list-item">
          <div><img class="finder-item-icon" src="images/file.png" /></div>
          <div class="finder-item"><p>Discord Stop Bot.js</p></div>
        </div>
        <div class="finder-item-container devils-list-item">
          <div><img class="finder-item-icon" src="images/file.png" /></div>
          <div class="finder-item"><p>Devil's Advocate.html</p></div>
        </div>
        <div class="finder-item-container referobot-list-item">
          <div><img class="finder-item-icon" src="images/file.png" /></div>
          <div class="finder-item"><p>Referobot.js</p></div>
        </div>
        <div class="finder-item-container liquefy-list-item">
          <div><img class="finder-item-icon" src="images/file.png" /></div>
          <div class="finder-item"><p>Liquefy Web App.js</p></div>
        </div>
        <div class="finder-item-container news-list-item">
          <div><img class="finder-item-icon" src="images/file.png" /></div>
          <div class="finder-item"><p>Newsworthy Tab.html</p></div>
        </div>
        <div class="finder-item-container csch-list-item">
          <div><img class="finder-item-icon" src="images/file.png" /></div>
          <div class="finder-item"><p>CS Career Hackers.html</p></div>
        </div>
      </div>
      <!-- document items -->
      <div class="finder-inner-items-list document-items hide">
        <div class="finder-item-container resume-list-item">
          <div><img class="finder-item-icon" src="images/pdf-file.png" /></div>
          <div class="finder-item"><p>Resume.pdf</p></div>
        </div>
        <div class="finder-item-container about-list-item">
          <div><img class="finder-item-icon" src="images/pdf-file.png" /></div>
          <div class="finder-item"><p>About.pdf</p></div>
        </div>
        <div class="finder-item-container quotes-list-item">
          <div><img class="finder-item-icon" src="images/pdf-file.png" /></div>
          <div class="finder-item"><p>Quotes.pdf</p></div>
        </div>
      </div>
    </div>

    <!-- selected item panels -->
    <div class="finder-section finder-selected-item-container">

      <!-- education selected item panels -->
      <div class="finder-selected-item-wrapper burton-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/burton.jpg"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Burton High School</h2></div>
            <div class="finder-selected-text"><p class="date">08/25/2011 — 05/31/2015</p></div>
            <div class="finder-selected-text">
              <p>I took every opportunity that came my way in high school. As a result, I graduated as valedictorian, ran with varsity crosscountry, led buildOn as a global education officer, tutored at Bayview Beacon, and volunteered with Reading Partners.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper berkeley-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/berkeley.jpg"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>UC Berkeley</h2></div>
            <div class="finder-selected-text"><p class="date">08/25/2015 — 05/15/2019</p></div>
            <div class="finder-selected-text">
              <p>As we like to repeat at every ceremony and event, UC Berkeley is the #1 public school in the world. Through participating in on-campus activities, working at internships, and making a lot of mistakes during college, I took large leaps in discovering myself and my purpose.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper major-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/pdf-file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Cognitive Science Major</h2></div>
            <div class="finder-selected-text"><p class="date">06/10/2016</p></div>
            <div class="finder-selected-text">
              <p>After a lot of contemplation and multiple major switches, I settled on Cognitive Science, a very interdisciplinary major suiting my interdisciplinary and multifaceted background. Within Cognitive Science, I had a concentration in psychology and computer science.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- experience selected item panels -->
      <div class="finder-selected-item-wrapper adobe-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/adobe.jpg"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Adobe</h2></div>
            <div class="finder-selected-text"><h3>Software Engineer</h3></div>
            <div class="finder-selected-text"><p class="date">06/24/2019 - present</p></div>
            <div class="finder-selected-text">
              <p>Currently, I am working on very interesting things with the Unified Shell team in Adobe's Digital Experience Cloud.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper climate-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/climate.jpg"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>The Climate Corporation</h2></div>
            <div class="finder-selected-text"><h3>Software Engineering Intern</h3></div>
            <div class="finder-selected-text"><p class="date">05/21/2018 - 08/10/2018</p></div>
            <div class="finder-selected-text">
              <p>This was my first internship at a company that wasn't an early stage startup, which meant I gained a deeper understanding of the standards within the industry along with how to navigate a larger codebase worked on by a larger team. <a class="finder-link" href="#">Read more about what I did</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper stowk-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/stowk.jpg"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Stowk</h2></div>
            <div class="finder-selected-text"><h3>Full Stack Engineer, Web and Mobile</h3></div>
            <div class="finder-selected-text"><p class="date">03/15/2017 — 05/15/2018</p></div>
            <div class="finder-selected-text">
              <p>Stowk was an interesting ride for many reasons. It was a very early stage startup, and I had to wear many, many hats, over time going from intern to frontend part-timer to full-stack engineer to team lead. There were ups and downs, late nights, and funding stress, but I not doubt learned the most from this experience out of everything else. <a class="finder-link" href="#">Read more about what I did</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper registria-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/registria.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Registria</h2></div>
            <div class="finder-selected-text"><h3>Front End Web Developer</h3></div>
            <div class="finder-selected-text"><p class="date">08/01/2016 — 6/15/2017</p></div>
            <div class="finder-selected-text">
              <p>My first real development job I snagged in fall of college sophomore year right after self-learning how to code in the summer. I shoved my foot in the door of the software industry, and I am forever grateful for the opportunity and my manager who was super supportive. My journey began here. <a class="finder-link" href="#">Read more about what I did</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper aaa-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image"><img class="selected-item-image" src="images/aaa.jpg"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Asian American Association</h2></div>
            <div class="finder-selected-text"><h3>Commitee Chair and Internal Relations Head</h3></div>
            <div class="finder-selected-text"><p class="date">09/15/2015 — 12/15/2017</p></div>
            <div class="finder-selected-text">
              <p>"AAA is where I made 90% of my friends" is a line I've heard from more than a dozen people, including myself. While a lot of my other experiences are technical and targeted towards a career in software engineering, this experience stands out as leadership, and community-focused. <a class="finder-link" href="#">Read more about what I did</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper decal-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/pdf-file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Web Design DeCal</h2></div>
            <div class="finder-selected-text"><h3>Web Development Instructor</h3></div>
            <div class="finder-selected-text"><p class="date">01/08/2017 — 05/03/2019</p></div>
            <div class="finder-selected-text">
              <p>Becoming instructor for Fall 2018 after TAing for Spring 2018 was an honor and a challenge. During this time, after years of using outdate resources, we took it upon ourselves to revamp the curriculum, website, lecture materials, and class resources while also preparing for a new semester of 120+ students and training the new cohort of TAs. It was chaotic, but ultimately very fulfilling. <a class="finder-link" href="#">Read more about what I did</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper ffl-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/pdf-file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Foundation for Letters</h2></div>
            <div class="finder-selected-text"><h3>Lead Web Developer, Project Manager</h3></div>
            <div class="finder-selected-text"><p class="date">12/15/2016 — 05/15/2017</p></div>
            <div class="finder-selected-text">
              <p>This was my first experience volunteering for a nonprofit using tech. This foray taught me nonprofit administration and teams operate very differently, and the same knowledge found within the tech industry cannot be expected, but it is possible to be productive in spite of that. <a class="finder-link" href="#">Read more about what I did</a>.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- projects selected item panels -->
      <div class="finder-selected-item-wrapper stopbot-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Discord Stop Bot</h2></div>
            <div>
                <a class="finder-link" target="_blank" href="https://github.com/brendacs/stop-bot">View on GitHub</a> |
                <a class="finder-link" target="_blank" href="https://brendacs.github.io/stop-bot/">View website</a>
            </div>
            <div class="finder-selected-text"><h3>Node.js, PostgreSQL, Discord.js</h3></div>
            <div class="finder-selected-text"><p class="date">06/01/2017 — present<p></div>
            <div class="finder-selected-text">
              <p>Stop Bot is a message moderation bot for Discord. Though it began as a joke between friends, I realized it had the potential to be really useful for others and developed it into a general message moderation bot. Currently, it is active in over 2,000 Discord servers with 90,000+ users.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper devils-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Devil's Advocate</h2></div>
            <div>
                <a class="finder-link" target="_blank" href="https://github.com/brendacs/devils-advocate">View on GitHub</a> | 
                <a class="finder-link" target="_blank" href="https://brendacs.github.io/devils-advocate/">View website</a>
            </div>
            <div class="finder-selected-text"><h3>HTML, CSS, jQuery, Node.js</h3></div>
            <div class="finder-selected-text"><p class="date">12/15/2017 — 03/01/2018<p></div>
            <div class="finder-selected-text">
              <p>The project was a weekly newsletter that sends political articles subscribers will disagree with in order to foster more open-minded dialog. I built a website for hosting the survey and a backend for automatically categorizing subscribers and assigning MailChimp tags based on survey answers.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper referobot-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Referobot</h2></div>
            <div>
                <a class="finder-link" target="_blank" href="https://github.com/brendacs/Referobot">View on GitHub</a>
            </div>
            <div class="finder-selected-text"><h3>Node.js, Discord.js</h3></div>
            <div class="finder-selected-text"><p class="date">12/20/2017 — 01/15/2017<p></div>
            <div class="finder-selected-text">
              <p>A referral bot for referral-based Discord servers. It counts and displays the number of an invites each user has, their current rank, the number of invites until their next rank, and the name of a user's next rank. It also shows the top 10 ranking referrers.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper liquefy-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Liquefy Web App</h2></div>
            <div>
                <a class="finder-link" target="_blank" href="https://github.com/Registria/Liquefy">View on GitHub</a>
            </div>
            <div class="finder-selected-text"><h3>HTML, CSS, React, Node.js</h3></div>
            <div class="finder-selected-text"><p class="date">08/15/2016 — 08/30/2016<p></div>
            <div class="finder-selected-text">
              <p>Liquid language filtering app for non-technical Registria staff. Input any block of code with Liquid templating, and it’ll filter it for the Liquid snippets. The results are searchable by Liquid tags.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper csch-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>CS Career Hackers</h2></div>
            <div>
                <a class="finder-link" target="_blank" href="https://github.com/brendacs/csch">View on GitHub</a> | 
                <a class="finder-link" target="_blank" href="https://brendacs.github.io/csch/">View website</a>
            </div>
            <div class="finder-selected-text"><h3>HTML, Sass, JS</h3></div>
            <div class="finder-selected-text"><p class="date">05/01/2017 — 07/25/2017<p></div>
            <div class="finder-selected-text">
              <p>A revamped website built from scratch for the CS Career Hackers nonprofit, which connects a community of software engineers on a mission of lifelong-learning with peers, mentors, and mock interviewers.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper news-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Newsworthy Tab</h2></div>
            <div>
                <a class="finder-link" target="_blank" href="https://github.com/brendacs/newsworthy-tab">View on GitHub</a>
            </div>
            <div class="finder-selected-text"><h3>HTML, CSS, JS, jQuery</h3></div>
            <div class="finder-selected-text"><p class="date">03/01/2017 — 04/15/2017<p></div>
            <div class="finder-selected-text">
              <p>This one is a little embarrassing since I built it when I was first learning how to code, but I tried my hand at building a Chrome extension, a new tab page. This custom new tab has a to-do list, weather, and top news articles of the day.<p>
            </div>
          </div>
        </div>
      </div>

      <!-- documents selected item panels -->
      <div class="finder-selected-item-wrapper resume-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/pdf-file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Resume</h2></div>
            <div class="finder-selected-text"><p class="date">10/07/2018<p></div>
            <div class="finder-selected-text">
              <a class="finder-link" href="images/The Coolest Resume.pdf">Download</a>
              <p>My newly updated resume for 2018.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper about-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/pdf-file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>About</h2></div>
            <div class="finder-selected-text"><p class="date">02/06/2018<p></div>
            <div class="finder-selected-text">
              <a class="finder-link" href="https://brendacs.dev">Navigate</a>
              <p>Read to learn a bit more about this personal website and about me.<p>
            </div>
          </div>
        </div>
      </div>
      <div class="finder-selected-item-wrapper quotes-selected-item hide">
        <div class="finder-selected-item">
          <div class="finder-selected-image selected-file"><img class="selected-item-image" src="images/pdf-file.png"/></div>
          <div class="finder-selected-item-text-container">
            <div class="finder-selected-text"><h2>Quotes</h2></div>
            <div class="finder-selected-text"><p class="date">04/10/2017<p></div>
            <div class="finder-selected-text">
              <p>Some random quotes I like.<p>
            </div>
          </div>
        </div>
      </div>

    </div> <!--finder selected item section end -->

  </div> <!-- finder-file-container -->
</div> <!-- finder window end -->
