<div class="window sublime-window ui-widget-content hide">
  {% include window-nav.html title="index.html — project1000" %}

  <div class="sublime-content-container content-container">
    <div class="sublime-sidebar">
        <div class="sublime-sidebar-header">
            <p>FOLDERS</p>
        </div>
        <div class="sublime-sidebar-item folder">
            <p class="arrow-text">▸</p>
            <img src="images/sublime-folder.png" class="sublime-folder-img" />
            <p>css</p>
        </div>
        <div class="sublime-sidebar-item folder">
            <p class="arrow-text">▸</p>
            <img src="images/sublime-folder.png" class="sublime-folder-img" />
            <p>java</p>
        </div>
        <div class="sublime-sidebar-item folder">
            <p class="arrow-text">▸</p>
            <img src="images/sublime-folder.png" class="sublime-folder-img" />
            <p>javascript</p>
        </div>
        <div class="sublime-sidebar-item folder">
            <p class="arrow-text">▸</p>
            <img src="images/sublime-folder.png" class="sublime-folder-img" />
            <p>python</p>
        </div>
        <div class="sublime-sidebar-item folder">
            <p class="arrow-text">▸</p>
            <img src="images/sublime-folder.png" class="sublime-folder-img" />
            <p>tests</p>
        </div>
        <div class="sublime-sidebar-item active">
            <p>index.html</p>
        </div>
        <div class="sublime-sidebar-item">
            <p>package.json</p>
        </div>
        <div class="sublime-sidebar-item">
            <p>README.md</p>
        </div>
        <div class="sublime-sidebar-item">
            <p>yarn.lock</p>
        </div>
    </div>
    <div class="sublime-code-content">
        <div class="numbers">
            <p>
                <p>1</p><p>2</p><p>3</p><p>4</p><p>5</p>
            </p>
        </div>
        <div class="sublime-html">
            <p class="line">
                &lt;<span class="red">html</span>&gt;
            </p>
            <p class="line indent">
                &lt;<span class="red">h1</span>&gt;
                Brenda's Desktop
                &lt;/<span class="red">h1</span>&gt;
            </p>
            <p class="line indent">
                &lt;<span class="red">p</span>&gt;
                Hello World!
                &lt;/<span class="red">p</span>&gt;
            </p>
            <p class="line">
                &lt;/<span class="red">html</span>&gt;
            </p>
        </div>
    </div>
  </div>
</div>
