<div class="taskbar">
  <div class="taskbar-icon-container">
    <p class="taskbar-icon-label">Finder</p>
    <div class="label-triangle"></div>
    <a class="taskbar-icon-link"><img class="taskbar-icon finder-icon" src="images/finder.png" /></a>
  </div>
  <div class="taskbar-icon-container">
    <p class="taskbar-icon-label">Sublime</p>
    <div class="label-triangle"></div>
    <a class="taskbar-icon-link"><img class="taskbar-icon sublime-icon" src="images/sublime.png" /></a>
  </div>
  <div class="taskbar-icon-container">
    <p class="taskbar-icon-label">Terminal</p>
    <div class="label-triangle"></div>
    <a class="taskbar-icon-link"><img class="taskbar-icon terminal-icon" src="images/terminal.png" /></a>
  </div>
  <div class="taskbar-icon-container hide">
    <p class="taskbar-icon-label hide">Preview</p>
    <div class="label-triangle hide"></div>
    <a class="taskbar-icon-link hide"><img class="taskbar-icon preview-icon hide" src="images/preview.png" /></a>
  </div>
</div>
