<div class="user">
  <div class="user-icon-container">
    <p class="user-name">Brenda</p>
    <a class="user-icon-link" href="https://www.github.com/brendacs" target="_blank">
      <img class="user-icon" src="images/github.svg" />
    </a>
    <a class="user-icon-link" href="https://www.linkedin.com/in/brendacs" target="_blank">
      <img class="user-icon" src="images/linkedin.png" />
    </a>
    <a class="user-icon-link">
      <img class="user-icon" src="images/user.png" />
    </a>
  </div>
</div>
